* {
  box-sizing: border-box;
  margin: 0;
  padding:0px;
  font-family: 'Cairo', sans-serif;
}
a{
  text-decoration: none;
}
:root{
  --main-color:#f1b2bc;
  --second-color:#232946;
}
header{
  text-transform:capitalize;
  padding:10px 20px;
  position:sticky;
  z-index: 10;
  top: 0;
  display: flex;
  width:100%;
  justify-content:space-between;
  align-items: center;
  background-color:var(--second-color);
}
header nav ul{
  margin-right: 30px;
  list-style: none;
  display: flex;
  transition: .5s;
}
header nav ul a{
  transition: .5s;
  position: relative;
  margin-left: 40px;
  font-weight:500;
  font-size:16px;
  color: white;
  text-decoration: none;
  transition:.5s;
  }
  header nav ul a:hover{
    color:#a1b1e3  ;
  }
  header nav ul a::after{
    transition:.5s;
    content: "";
    position: absolute;
    bottom:-20px;
    left: 0;
    width: 0;
    border-bottom: 1.5px solid #a1b1e3  ;
}
  header nav ul a:hover::after{
    width: 100%;
  }
  header .icon a{
    display: none;
    color: #fff;
    font-size: 25px;
  }
  header .icon:hover +ul {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color:#09050e9b ;
}
.content{
  width: 100%;
  padding: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../imges/login-2.jpg);
  background-size: cover;
}
.content::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #232546bc;
}
form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form input{
  width: fit-content;
  margin:12px ;
  outline: none;
  padding:10px ;
  color:#fff;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border:1px solid ;
}
input::placeholder{
  color:#c4c1c1;
}
.content form :nth-child(4){
  margin:10px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translatex(-40%);
} 
.content form :nth-child(4) a{
  color: #a1b1e3;
  margin-left: 6px;
  transition: .5s;
    text-transform:capitalize;
}
.content form :nth-child(4) a:hover{
  color: #989797;
  
}
form .last{
  margin-top: 10px;
  margin-left: 20px;
}
form .last input {
  font-size: 16px;
  text-transform:capitalize;
  border: 1px solid white;
  width: 100px;
  transition: .3s;
  margin:0 1px;
  color: #c4c1c1;
}
form .last input:hover{
  border: 1px solid #a1b1e3;
  cursor:pointer;
  color:#a1b1e3;
}
label{
  font-size: 20px;
  cursor: pointer;
  color: #c4c1c1;
}
.content form .checkbox{
  margin-top: 10px;
  margin-left: -37px;
}
.content form .checkbox label{
  margin-left: -10px;
  margin-top: 25px;
  color: #a1b1e3;
}
footer{
  padding: 15px;
  text-align: center;
  background-color:#bbc1ec;
}
footer span a {
  padding:0 5px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition:.5s;
}
@media(max-width:569px){
  header nav ul {
    display: none;
  }
  header .icon a{
    display: block;
  }
  .content form{
    width: 200px;
  }
  form .last{
    margin-left: -9px;
  }
  form .last input {
    width: 100px;
    transition: .3s;
    margin:0 1px;
  }
  .content form :nth-child(4){
    left: 35%;
    transform: translatex(-40%);
}
.content form :nth-child(4) a{
  margin-left: 20px;
}
.content form .checkbox{
  margin-top: 10px;
  margin-left: -50px;
}
}