* {
  box-sizing: border-box;
  margin: 0;
  padding:0px;
  font-family: 'Cairo', sans-serif;
}
a{
  text-decoration: none;
}
:root{
  --main-color:#f1b2bc;
  --second-color:#232946;
}
header{
  text-transform:capitalize;
  padding:10px 20px;
  position:sticky;
  z-index: 10;
  top: 0;
  display: flex;
  width:100%;
  justify-content:space-between;
  align-items: center;
  background-color:var(--second-color);
}
header nav{
  display: flex;
}
header nav ul{
  margin-right: 30px;
  list-style: none;
  display: flex;
}
@media(max-width:569px){
  header nav ul {
    position: absolute;
    top: -100%;
    width: 100%;
    left:0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
} 
.hidden-bottom{
  display:flex ;
  gap: 20px;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 100%;
  width: 100%;
  left:0px;
  background-color:#09050e52 ;
}
.hidden-top{
  display:flex ;
  gap: 20px;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -300%;
  width: 100%;
  left:0px;
  background-color:#09050e52 ;
}
header .icon .toggle:hover{
  transition: .2s;
  color: #d0e0f6;
}
header .icon .toggle,
header .icon .xmark{
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}
@media(min-width:569px){
  header .icon .toggle{
    display: none !important;
  }
  header .icon .xmark{
    display: none !important;
  }
}
@media(max-width:569px){
  header .icon .toggle{
    display: block ;
  }
  header .icon .xmark{
    display: none;
  }
}
header nav ul li{
  position: relative;
  margin-left: 30px;
}
@media(max-width:569px){
  header nav ul li{
    margin-left: 0px;
  }
}
header nav ul a{
  color: #eae8e8;
  transition:.3s;
}
  header nav ul li:hover a{
    color:#a1b1e3  ;
  }
  header nav ul li::after{
    transition:.3s;
    content:"";
    position: absolute;
    bottom:-18px;
    left: 0;
    width: 0;
    border-bottom: 2px solid #a1b1e3  ;
}
  header nav ul li:hover::after{
    width: 100%;
  }
.content{
  width: 100%;
  padding: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  height:110vh;
  background-image: url(../imges/login-2.jpg);
  background-size: cover;
}
.content::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #232546bc;
}
form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form input{
  width: fit-content;
  margin:12px ;
  outline: none;
  padding:10px ;
  color:#fff;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border:1px solid ;
}
input::placeholder{
  color:#c4c1c1;
}
.content form :nth-child(4){
  margin:10px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-40%);;
} 
.content form :nth-child(4) a{
  color: #a1b1e3;
  margin-left: 10px;
  transition: .5s;
  text-transform:capitalize;
}
.content form :nth-child(4) a:hover{
  color: #989797;
}
form .last{
  margin-top: 10px;
  margin-left: 20px;
}
form .last input {
  font-size: 16px;
  text-transform:capitalize;
  border: 1px solid white;
  width: 100px;
  transition: .3s;
  margin:0 1px;
  color: #c4c1c1;
}
form .last input:hover{
  border: 1px solid #a1b1e3;
  cursor:pointer;
  color:#a1b1e3;
}
label{
  font-size:20px;
  cursor: pointer;
  color: #c4c1c1;
}
.content form .checkbox{
  margin-top: 10px;
  margin-left: -32px;
}
.content form .checkbox label{
  margin-left: -10px;
  margin-top: 25px;
  color: #a1b1e3;
}
footer{
  padding: 15px;
  text-align: center;
  background-color:#bbc1ec;
}
footer span a {
  padding:0 5px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition:.3s;;
}
@media(max-width:569px){
  .content form{
    margin-top: 30px;
    width: 200px;
  }
  form .last{
    margin-left: -9px;
  }
  form .last input {
    width: 100px;
    transition: .3s;
    margin:0 1px;
  }
  .content form :nth-child(4){
    left: 35%;
    transform: translateX(-40%);
}
.content form :nth-child(4) a{
  margin-left: 27px;
}
.content form .checkbox{
  margin-top: 10px;
  margin-left: -15px;
}
header nav ul li::after{
  bottom: -10px;
}
}